@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center accordion-body">
    <h2 class="display-5">On this site you can add, edit and delete students</h2>
    <p> Adding, removing, and editing students is essential for maintaining an up-to-date database. Here's how you can manage your student list effortlessly:</p>
    <p class="fw-bold">1. Adding Students:</p>
    <p>
        To add a new student, navigate to the "Add Student" section and fill in the required fields such as name, email, and any additional information. Once completed, hit the "Submit" button to save the new student to the database.
    </p>
    <p class="fw-bold">2. Removing Students:</p>
    <p>
        When it's necessary to remove a student, locate the student's profile either through the search function or by browsing the student list. Then, select the "Remove" option, and confirm the action. The student's information will be promptly deleted from the system.
    </p>
    <p class="fw-bold">3. Editing Student Information:</p>
    <p>
        To update a student's details, find the respective student profile and select the "Edit" option. Make the necessary changes, such as correcting personal information or updating enrollment status. After making adjustments, remember to save the changes by clicking the "Update" button.
    </p>
    <p>
        Note: Always ensure the accuracy of student information to facilitate smooth communication and management processes.
    </p>
</div>