@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
        At this student portal, we are committed to protecting the privacy and security of your personal information. This Privacy Policy outlines how we collect, use, and safeguard your data when you use our services or interact with our website.
    </p>
    <p class="fw-bold">1. Information We Collect:</p>
    <p>
        We may collect personal information such as your name, email address, contact details, and any other information you provide to us when you register for an account, make a purchase, or use our services.
    </p>
    <p class="fw-bold">2. How We Use Your Information:</p>
    <p>
        We use the information we collect to provide and improve our services, communicate with you, process transactions, and personalize your experience. We may also use your information to send you promotional offers or important updates about our products and services.
    </p>
    <p class="fw-bold">
        3. Data Security:
    </p>
    <p>
        We take the security of your data seriously and implement appropriate measures to protect it from unauthorized access, alteration, disclosure, or destruction.
    </p>
    <p class="fw-bold">
        4. Sharing of Information:
    </p>
    <p>
        We do not sell, trade, or rent your personal information to third parties without your consent. However, we may share your information with trusted third-party service providers who assist us in operating our website, conducting our business, or servicing you.
    </p>
    <p class="fw-bold">5. Cookies:</p>
    <p>
        We use cookies and similar tracking technologies to enhance your browsing experience and analyze usage patterns. You can control the use of cookies through your browser settings.
    </p>
    <p class="fw-bold">
        6. Your Rights:
    </p>
    <p>
        You have the right to access, update, or delete your personal information at any time. You can also opt-out of receiving promotional emails from us by following the instructions provided in the email.
    </p>
    <p class="fw-bold">7. Changes to This Policy:</p>
    <p>
        We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any significant changes by posting the revised policy on our website.
    </p>
    <p class="fw-bold">

        8. Contact Us:
    </p>
    <p>

        If you have any questions or concerns about our Privacy Policy or how we handle your data, please contact us at [Your Contact Information].

    </p>
    <p>

        By using our services or interacting with our website, you consent to the collection and use of your information as outlined in this Privacy Policy.
    </p>
</div>

















